.logo {
  width: 500px;
  height:500px;
  margin-bottom: 20px;
  float:left;
  background-color: rgb(113, 113, 197);
  margin-right:20px;
}
.button{
  background-color: #ffffff;
}
.link{
  align-items: right;
}
.heading{
  display:flex;
  flex-direction:row;
  justify-content: left;
}
.imagelogo{
  width:50px;
  height:60px;
}
